/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

/*Remove default margins,padding & set box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 320px;
  max-height: 1489px;
  margin: 0 auto;
}

.page {
  max-width: 1440px;
  max-height: 100%;
  margin: 0 auto;
  padding: 0px 255px;
}
/*header styles*/
.header {
  width: 100%;
  height: 50%;
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
}

.header__title {
  width: 50%;
  font-family: 'PT Serif', serif;
  letter-spacing:-2px;
  font-size: 2.25em;
  font-weight: 700;
}

.header__description {
  width: 46%;
  list-style: none;
}

.header__description-heading {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  line-height: 2em;
  font-size: 1.13em;
  font-weight: 600;
}

.header__description-text {
  font-family: 'Poppins', sans-serif;
  line-height: 1.45em;
  font-size: 1.13em;
  font-weight: 400;
}
/*main container styles*/
.cards {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*styles for the whole card*/
.cards__card {
  width: 30%;
  height: 10%;
  margin-bottom: 16px;
  display: flex;
  position: relative;
}
/*styles for 2nd & 5 image; which are shifted down in tablet-desktop*/
.cards__card:nth-child(2),
.cards__card:nth-child(5) {
  margin-top: 110px;
}

/*styles for inner card items. Pic and name*/
.card__content-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards__card-img {
  width: 90%;
}

.cards__card-name {
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  letter-spacing: -1px;
  font-size: 1.13em;
  font-weight: 600;
}
/*styles for card title*/
.cards__card-title {
  transform: rotate(90deg);
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: .75em;
  width: 100%;
  left: 45%;
  top: 32%;
}
/*footer styles*/
.footer {
  margin: 10% 0 2% 0;
  font-family: 'Montserrat', sans-serif;
  color: #BDBDBD;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span {
  text-decoration: underline;
  font-weight: 700;
}

/*media queries*/
/*small laptop*/
@media screen and (max-width: 1024px) {
  .page {
    padding: 0px 145px;
  }
  .cards__card-title {
    top: 31%;
  }
}
/*tablet*/
@media screen and (max-width: 768px) {
  .page {
    padding: 0px 85px;
  }
  .header__title {
    font-size: 1.75em;
  }
  .header__description-heading {
    font-size: 1em;
  }
  .header__description-text {
    font-size: .75em;
  }
  .cards__card:nth-child(2), 
  .cards__card:nth-child(5) {
    margin-top: 70px;
  }

  .cards__card-name {
    font-size: 1em;
  }
  .cards__card-title {
    font-size: .5em;
  }
}
/*mobile phones*/
@media screen and (max-width: 426px) {
  .page {
    padding: 0px 25px;
  }
  .header {
    display: block;
  }
  .header__title {
    width: 100%;
    font-size: 2.25em;
    line-height: 2.5em;
  }
  .header__description {
    width: 70%;
  }
  .header__description-heading {
    font-size: 1.13em;
  }.header__description-text {
  font-size: .75em;
  }
  .cards {
    margin-top: 15%;
  }
  .cards__card {
    width: 45%;
  }
  .cards__card:nth-child(even) {
    margin-top: 10%;
  }
  .cards__card:nth-child(5) {
    margin-top: 0;
  }
  .cards__card-name {
    font-size: .87em;
    margin-top: 10px;
  }  
  
  .cards__card-title {
    top: 29%;
    font-size: .65em;
  }
  .footer {
    margin: 30% 0 8% 0;
  }
}
